<div id="app">
  <div class="main-wrapper">
    <div class="navbar-bg"></div>
    <app-navbar></app-navbar>


    <app-category-sidebar *ngIf="!userService.isLoggedIn()"></app-category-sidebar>
    <app-mainsidebar *ngIf="userService.isCitizen()"></app-mainsidebar>
    <app-provider-sidebar *ngIf="userService.isProvider()"></app-provider-sidebar>
    <!-- Main Content -->
    <router-outlet></router-outlet>


    <!-- <footer class="main-footer">
      <div class="footer-left">
        Copyright &copy; 2018 <div class="bullet"></div> Design By <a href="https://nauval.in/">Muhamad Nauval Azhar</a>
      </div>
      <div class="footer-right">
        2.3.0
      </div>
    </footer> -->
  </div>
</div>